#box{
    width: 200px;
    height: 200px;
    position: relative;
    background: darkcyan;
    overflow: hidden;
}
#left{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;

    transform: rotate(0deg);
    z-index: 9;

}
#right{
    position: absolute;

    right:0;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    z-index: 11;
    display: none;

}
#left-bg {
    background: url("./bg.png") no-repeat top left;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
#right-bg {
    background: url("./bg.png") no-repeat top right;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
#left-cover{
    position: absolute;
    background: darkcyan;
    left:0;
    width: 50%;
    height: 100%;
    z-index: 10;
}