#box{
    width: 400px;
    height: 400px;
    position: relative;
    background: darkcyan;
}
#left{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url("./left.png");
    background-repeat:no-repeat;
    transform: rotate(180deg);
    z-index: 9;

}
#right{
    position: absolute;
    background-image: url("./left.png");
    background-repeat:no-repeat;
    right:0;
    width: 100%;
    height: 100%;
    transform: rotate(360deg);
    z-index: 11;
    display: none;

}
#left-cover{
    position: absolute;
    background: darkcyan;
    left:0;
    width: 50%;
    height: 100%;
    z-index: 10;
}